In [23]:
import yfinance as yf

ss = yf.Ticker("^BSESN")

In [24]:
ss.info

{'exchange': 'BSE',
 'shortName': 'S&P BSE SENSEX',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '19800000',
 'quoteType': 'INDEX',
 'symbol': '^BSESN',
 'messageBoardId': 'finmb_INDEXBSESN',
 'market': 'in_market',
 'previousClose': 58129.95,
 'regularMarketOpen': 58411.62,
 'twoHundredDayAverage': 51679.38,
 'trailingAnnualDividendYield': None,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 58515.85,
 'navPrice': None,
 'averageDailyVolume10Day': 7050,
 'totalAssets': None,
 'regularMarketPreviousClose': 58129.95,
 'fiftyDayAverage': 54757.21,
 'trailingAnnualDividendRate': None,
 'open': 58411.62,
 'toCurrency': None,
 'averageVolume10days': 7050,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 58200.29,
 'priceHint': 2,
 'currency': 'INR',
 'regularMarketVolume': 0,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': None,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 9874,
 'priceToSalesTrailing12Months': None,
 'dayLow': 58200.29,
 'ask': 0,
 'ytdReturn': None,
 'askSize': 0,
 'volume': 0,
 'fiftyTwoWeekHigh': 58515.85,
 'forwardPE': None,
 'maxAge': 1,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 36495.98,
 'bid': 0,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 0,
 'dayHigh': 58515.85,
 'regularMarketPrice': 58296.91,
 'logo_url': ''}

In [25]:
hist = ss.history(period="max")

In [26]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1997-07-01,4263.109863,4301.770020,4247.660156,4300.859863,0,0,0
1997-07-02,4302.959961,4395.310059,4295.399902,4333.899902,0,0,0
1997-07-03,4335.790039,4393.290039,4299.970215,4323.459961,0,0,0
1997-07-04,4332.700195,4347.589844,4300.580078,4323.819824,0,0,0
1997-07-07,4326.810059,4391.009766,4289.490234,4291.450195,0,0,0
...,...,...,...,...,...,...,...
2021-08-31,56995.148438,57625.261719,56859.101562,57552.390625,11200,0,0
2021-09-01,57763.531250,57918.710938,57263.898438,57338.210938,7300,0,0
2021-09-02,57423.648438,57892.371094,57287.789062,57852.539062,5100,0,0
2021-09-03,57983.449219,58194.789062,57764.070312,58129.949219,6100,0,0
2021-09-06,58411.621094,58515.851562,58200.289062,58296.910156,0,0,0

In [28]:
csv_data = hist.to_csv("Stock.csv")